# Assignment 02

Dear Team Members,

I hope you are doing GREAT!

The following assignment is a step-by-step process to implement a multiclass classification using Iris classical dataset.
The idea of the current assignment is to intensify what we have learned in deep learning.

There are some new concepts and challenges that we will face in the current assignment, and we need to resolve each issue and move to the next step.

After the midterm, we will discuss part of the potential challenges. The assignment is easy to follow yet needs the patience to solve each question at a time.

**Note:**

Please note that every question has 0.5 and it provides five out of total ten marks for the assignment.

The video presentation, as you have done for Assignment 01, provides the rest of the mark, which is 5.

In short, 5 for coding + 5 for the video presentation = 10, but without YouTube presentation you receive no mark for the submission. In short, only submissions with YouTube link will be marked.

In [ ]:
#00 The iris.csv file (Iris dataset) is located in the Assignment folder below the current ipynb file.

 **Important Note:** We are NOT allowed to import the dataset from Keras. We need to upload the provided iris.csv file to colab from our Google Drive.

In [ ]:
#00 1st, upload the iris.csv into your Google Drive (your Colab folder).

In [ ]:
#01-a Find the path of iris.csv file, and save it in a variable called fileName.

In [4]:
import pandas as pd
fileName = ('/content/Assignment_02_iris.csv')

In [ ]:
#01-b Read the content of the iris.csv file and save it in a variable, named iris.

In [5]:
iris  = pd.read_csv(fileName)

In [ ]:
#01-c Show the first 5 rows of the dataframe.

In [7]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

As you see, the last column contains strings. We want to convert these strings to integers,  and we can work with them easily in our Neural Network model.

setosa -> 0

versicolor -> 1

virginica -> 2

In [ ]:
#2-a Please convert the last column strings to integers, as 
# setosa -> 0
# versicolor -> 1
# virginica -> 2

In [8]:
iris["species"] = iris["species"].map({"setosa": 0, "versicolor": 1, "virginica": 2})

In [ ]:
#2-b Now, check the first 5 elements of the iris dataset once again:

In [10]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width  species
0           5.1          3.5           1.4          0.2        0
1           4.9          3.0           1.4          0.2        0
2           4.7          3.2           1.3          0.2        0
3           4.6          3.1           1.5          0.2        0
4           5.0          3.6           1.4          0.2        0

In [ ]:
#03-a Select the first four columns of the dataframe as the Data and call the data x.

In [16]:
x = iris.iloc[:, 0:4]
x

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [ ]:
#03-b Select the last column as the label and call it y.

In [15]:
y = iris.iloc[:, -1]
y

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: species, Length: 150, dtype: int64

In [ ]:
#04 Now, it is the time to split the data (x) and the label (y) into training and testin segments, 
#   and call them parts x_train,x_test,y_train,y_test.

In [ ]:
#04-a Please split the data, and label ito training and testing segments, while the size of test data is 20%,
#     and use randome_state = 123 to make all the answers similar in the whole class.

In [17]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=123)

In [ ]:
#04-b Please, check the first five rows of  x_train,x_test,y_train,y_test.

In [32]:
x_train.head()

     sepal_length  sepal_width  petal_length  petal_width
130           7.4          2.8           6.1          1.9
119           6.0          2.2           5.0          1.5
29            4.7          3.2           1.6          0.2
0             5.1          3.5           1.4          0.2
62            6.0          2.2           4.0          1.0

In [33]:
x_test.head()

     sepal_length  sepal_width  petal_length  petal_width
72            6.3          2.5           4.9          1.5
112           6.8          3.0           5.5          2.1
132           6.4          2.8           5.6          2.2
88            5.6          3.0           4.1          1.3
37            4.9          3.1           1.5          0.1

In [26]:
y_train.head()

130    2
119    2
29     0
0      0
62     1
Name: species, dtype: int64

In [27]:
y_test.head()

72     1
112    2
132    2
88     1
37     0
Name: species, dtype: int64

In [ ]:
#04-c Check the length of the x_train and x_test. If the numbers are 120 & 30, AWESOME! 
#     You are good to continue!

In [34]:
print('x_train shape:', x_train.shape)

x_train shape: (120, 4)

In [35]:
print('x_test shape:', x_test.shape)

x_test shape: (30, 4)

In [ ]:
#05-a Please, convert y_train and y_test into categorical, and call them
#     one_hot_train_labels, and one_hot_test_labels, respectively.

In [36]:
from keras.utils import to_categorical
one_hot_train_labels = to_categorical(y_train)
one_hot_test_labels = to_categorical(y_test)

In [38]:
print('one_hot_train_labels shape:', one_hot_train_labels.shape)
print('one_hot_test_labels shape:', one_hot_test_labels.shape)

one_hot_train_labels shape: (120, 3)
one_hot_test_labels shape: (30, 3)

In [ ]:
#06-a Please define a sequential model that contains 3 dense layers.
#     In the first and second layers, use 100 hidden units (neurons) and a 'relu' activation function.
#     For the last layer, we need to use 3 as the number of output, 
#     and the reason is we have three classes (setosa -> 0, versicolor -> 1, virginica -> 2)
#     Also, please pick an appropriate activation function for the last layer. 
#     (You already have guessed what could be the best when we have converted the labels to categorical.)

In [39]:
from keras.models import Sequential
from keras.layers import Dense

model = Sequential()
model.add(Dense(100, activation="relu", input_shape=(4,)))
model.add(Dense(100, activation="relu"))
model.add(Dense(3, activation="softmax"))

model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 100)               500

 dense_1 (Dense)             (None, 100)               10100

 dense_2 (Dense)             (None, 3)                 303

=================================================================
Total params: 10,903
Trainable params: 10,903
Non-trainable params: 0
_________________________________________________________________

In [ ]:
#06-b Now, please compile your model using 'rmsprop', an appropriate loss function, and 'accuracy' for your metrics.

In [40]:
model.compile(optimizer="rmsprop",
              loss="categorical_crossentropy",
              metrics=["accuracy"])

In [ ]:
#07-a Pleease fit your model using epoch=20, batch = 10.

In [43]:
history = model.fit(x_train, one_hot_train_labels, 
                    epochs=20, 
                    batch_size=10, 
                    validation_data=(x_test, one_hot_test_labels))

Epoch 1/20
12/12 [==============================] - 1s 28ms/step - loss: 0.9532 - accuracy: 0.5750 - val_loss: 0.7230 - val_accuracy: 0.8000
Epoch 2/20
12/12 [==============================] - 0s 7ms/step - loss: 0.7034 - accuracy: 0.7417 - val_loss: 0.5607 - val_accuracy: 0.8000
Epoch 3/20
12/12 [==============================] - 0s 6ms/step - loss: 0.5953 - accuracy: 0.7833 - val_loss: 0.4959 - val_accuracy: 0.9333
Epoch 4/20
12/12 [==============================] - 0s 6ms/step - loss: 0.5179 - accuracy: 0.7750 - val_loss: 0.4582 - val_accuracy: 0.7667
Epoch 5/20
12/12 [==============================] - 0s 5ms/step - loss: 0.4571 - accuracy: 0.8500 - val_loss: 0.3484 - val_accuracy: 0.8000
Epoch 6/20
12/12 [==============================] - 0s 8ms/step - loss: 0.4254 - accuracy: 0.8250 - val_loss: 0.3384 - val_accuracy: 0.9667
Epoch 7/20
12/12 [==============================] - 0s 5ms/step - loss: 0.3590 - accuracy: 0.9333 - val_loss: 0.2948 - val_accuracy: 0.8333
Epoch 8/20
12/12 [==============================] - 0s 6ms/step - loss: 0.3309 - accuracy: 0.8917 - val_loss: 0.3546 - val_accuracy: 0.8000
Epoch 9/20
12/12 [==============================] - 0s 7ms/step - loss: 0.3017 - accuracy: 0.9250 - val_loss: 0.2636 - val_accuracy: 0.9667
Epoch 10/20
12/12 [==============================] - 0s 7ms/step - loss: 0.2625 - accuracy: 0.9500 - val_loss: 0.2611 - val_accuracy: 0.8333
Epoch 11/20
12/12 [==============================] - 0s 6ms/step - loss: 0.2653 - accuracy: 0.9333 - val_loss: 0.3847 - val_accuracy: 0.7333
Epoch 12/20
12/12 [==============================] - 0s 6ms/step - loss: 0.2217 - accuracy: 0.9583 - val_loss: 0.2205 - val_accuracy: 0.9000
Epoch 13/20
12/12 [==============================] - 0s 7ms/step - loss: 0.2187 - accuracy: 0.9333 - val_loss: 0.2185 - val_accuracy: 0.9333
Epoch 14/20
12/12 [==============================] - 0s 6ms/step - loss: 0.1760 - accuracy: 0.9833 - val_loss: 0.2054 - val_accuracy: 0.9333
Epoch 15/20
12/12 [==============================] - 0s 6ms/step - loss: 0.1790 - accuracy: 0.9750 - val_loss: 0.1865 - val_accuracy: 0.9333
Epoch 16/20
12/12 [==============================] - 0s 7ms/step - loss: 0.1705 - accuracy: 0.9417 - val_loss: 0.1716 - val_accuracy: 0.9667
Epoch 17/20
12/12 [==============================] - 0s 6ms/step - loss: 0.1387 - accuracy: 0.9667 - val_loss: 0.2175 - val_accuracy: 0.8667
Epoch 18/20
12/12 [==============================] - 0s 6ms/step - loss: 0.1424 - accuracy: 0.9500 - val_loss: 0.1745 - val_accuracy: 0.9333
Epoch 19/20
12/12 [==============================] - 0s 5ms/step - loss: 0.1324 - accuracy: 0.9500 - val_loss: 0.1578 - val_accuracy: 0.9667
Epoch 20/20
12/12 [==============================] - 0s 7ms/step - loss: 0.1312 - accuracy: 0.9667 - val_loss: 0.1471 - val_accuracy: 0.9667

In [ ]:
#08-a Please calculate the result, evaluating your x_test, one_hot_test_label, and see how accurate your model works.

In [44]:
test_loss, test_accuracy = model.evaluate(x_test, one_hot_test_labels)
print("Test Accuracy: ", test_accuracy)

1/1 [==============================] - 0s 165ms/step - loss: 0.1471 - accuracy: 0.9667
Test Accuracy:  0.9666666388511658

In [ ]:
#09-a Now, we repeate all we have done in #06-a with the following parameters:
#     In the first and second layers, use 10 hidden units (neurons) and a 'relu' activation function.
#     For the last layer, we need to use 3.

In [45]:
model = Sequential()
model.add(Dense(10, activation="relu", input_shape=(4,)))
model.add(Dense(10, activation="relu"))
model.add(Dense(3, activation="softmax"))

model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 10)                50

 dense_4 (Dense)             (None, 10)                110

 dense_5 (Dense)             (None, 3)                 33

=================================================================
Total params: 193
Trainable params: 193
Non-trainable params: 0
_________________________________________________________________

In [ ]:
#09-b Use the same setting as you have done for #06-b (compile phase using 'rmsprom' and et cetera)

In [46]:
model.compile(optimizer="rmsprop",
              loss="categorical_crossentropy",
              metrics=["accuracy"])

In [ ]:
#09-c Please fit your model using epoch=4, batch = 10.

In [47]:
history = model.fit(x_train, one_hot_train_labels, 
                    epochs=4, 
                    batch_size=10, 
                    validation_data=(x_test, one_hot_test_labels))

Epoch 1/4
12/12 [==============================] - 1s 24ms/step - loss: 1.8791 - accuracy: 0.3083 - val_loss: 1.0208 - val_accuracy: 0.4333
Epoch 2/4
12/12 [==============================] - 0s 8ms/step - loss: 1.3590 - accuracy: 0.4750 - val_loss: 0.7887 - val_accuracy: 0.8000
Epoch 3/4
12/12 [==============================] - 0s 7ms/step - loss: 1.1536 - accuracy: 0.6333 - val_loss: 0.7228 - val_accuracy: 0.8000
Epoch 4/4
12/12 [==============================] - 0s 6ms/step - loss: 1.0676 - accuracy: 0.6333 - val_loss: 0.6873 - val_accuracy: 0.8000

In [ ]:
#09-d Please calculate the result, evaluating your x_test, one_hot_test_label, and see how accurate your model works.

In [48]:
test_loss, test_accuracy = model.evaluate(x_test, one_hot_test_labels)
print("Test Accuracy: ", test_accuracy)

1/1 [==============================] - 0s 163ms/step - loss: 0.6873 - accuracy: 0.8000
Test Accuracy:  0.800000011920929

In [ ]:
#10-a Please explain all you have learned from this assignment. 
# Theese are some quiestions that you could answer:
# How the number of layers or hidden units could impact the accuracy of our model.
# Do we always suffer from overfitting?
# How can we find and manage overfitting?

Double-click here to start typing your answer:

In [ ]:
#10-b
# Please try different sessing as we did in #09
# You can change the number of layers, hidden units, compile parameters, number of epochs, batch_size... everything!
# Please change one parameter at a time.
# And share your experience.

---
# Deliverables:
1. Please, submit the current ipynb file with your responses.
2. Please record and upload to YouTube a 5 to 10 minutes video recorded clip, describing all you have done. If you go beyond 10 minutes, it is fine. The mentioned time range is to show how the scale of the assignment could be.

Notes: 
- In your submission, YOU MUST SUBMIT A LINK TO YOUR YOUTUBE VIDEO as a TEXT SUBMISSION SECTION on your BLACKBOARD SUBMISSION. Omitting this BB comment will result in a 0% for your total mark.

- To get the 5% of the (coding) mark, you need to submit a YouTube video that scrolls through your code, explaining every single line of your code.

Then submit the link to the uploaded YouTube video in the **Text Submision section** (see image below).  

![image.png](https://i.ibb.co/gjW5wYC/bb-submission-instructions.png)

**Summary:**

In short, what we need to submit are:

a)	The current **ipynb file** that contains all the code (5 marks).

b)	The **YouTube link** of your recorded video in the 
**Text Submission section** (5 marks).

Zero for submissions, without YouTube video explanation.

Wish you only the best, Dear Team Members!

Reza