Umit Kilinc
101232721
Lab2

In [8]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [9]:
# Importing the CSV file
DF = pd.read_csv('/content/WM.csv')
DF.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2022-01-17,155.410004,157.289993,151.149994,151.399994,149.006149,8397400
1,2022-01-24,149.720001,150.759995,144.050003,147.899994,145.561462,16232300
2,2022-01-31,147.509995,151.250000,142.979996,145.029999,142.736862,13056600
3,2022-02-07,145.679993,147.490005,141.479996,142.639999,140.384659,9206500
4,2022-02-14,142.500000,143.990005,140.570007,142.330002,140.079559,9920400

In [10]:
# Printing the shape
print('Shape :', DF.shape)

Shape : (53, 7)

In [12]:
# Checking if there are any NaN values
DF.isnull().values.any()

False

In [13]:
X = DF["Open"].values.reshape(-1, 1)
y = DF["Close"].values.reshape(-1, 1)

In [14]:
# Splitting the data into 70% training and 30% training. 
# Setting the randomness involved in the model to 42

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.30, random_state=42)
X_train

array([[161.619995],
       [154.5     ],
       [162.070007],
       [169.      ],
       [159.649994],
       [163.600006],
       [156.039993],
       [160.75    ],
       [170.860001],
       [165.5     ],
       [152.440002],
       [159.649994],
       [155.410004],
       [168.270004],
       [154.910004],
       [173.179993],
       [156.639999],
       [169.490005],
       [163.509995],
       [149.720001],
       [149.      ],
       [147.509995],
       [162.160004],
       [168.410004],
       [149.809998],
       [160.119995],
       [156.570007],
       [141.990005],
       [155.050003],
       [154.759995],
       [160.      ],
       [157.210007],
       [156.539993],
       [157.440002],
       [163.910004],
       [161.119995],
       [155.929993]])

In [15]:
# Training the Linear Regression Model
reg = LinearRegression()

# Fitting the line to our data
reg.fit(X_train, y_train)
print(reg.intercept_)

[10.93282391]

In [16]:
# Slope
print(reg.coef_)

[[0.93185396]]

In [17]:
# Predicting the price
score = reg.predict([[-8.21]])
score

array([[3.28230291]])

In [18]:
# Comparing the actual data and the predicted data
y_pred = reg.predict(X_test)

DF_pred = pd.DataFrame({"Actual": y_test.squeeze(), "Predicted": y_pred.squeeze()})
DF_pred

        Actual   Predicted
0   159.119995  159.861730
1   155.770004  157.942100
2   161.789993  167.791803
3   159.160004  164.688727
4   161.179993  158.808730
5   145.160004  143.489050
6   154.500000  158.212345
7   159.490005  157.615959
8   142.639999  146.685302
9   168.449997  170.000292
10  157.509995  158.762135
11  155.669998  152.779634
12  154.929993  152.751680
13  157.820007  144.998648
14  169.339996  172.506981
15  142.330002  143.722013

In [19]:
#Evaluating the model with Mean Squared Error

from sklearn.metrics import mean_squared_error
import numpy as np

# Checking how close the regression line is to the set of points
mse = mean_squared_error(y_test, y_pred)
print(f"Mean Squared Error: {mse:.2f}")

Mean Squared Error: 19.21